@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #2563eb;
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: #f6d860;
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --shadow-3xl: 0 35px 60px -15px rgba(0, 0, 0, 0.1);

  --animate-hero-1: hero-1 700ms ease-in-out;
  --animate-hero-2: hero-2 700ms ease-in-out;
  --animate-hero-fade-in: hero-fade-in 750ms ease-in-out;
  --animate-fade-in: fade-in 750ms ease-in-out forwards;
  --animate-button-pulse: button-pulse 4000ms ease-in infinite;

  --background-image-topo-pattern: url("/images/topo-pattern.svg");
  --background-image-topo-pattern-dark: url("/images/topo-pattern-dark.svg");

  @keyframes hero-1 {
    0% {
      transform: translate(50px, 100px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  @keyframes hero-2 {
    0% {
      transform: translate(-50px, 100px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  @keyframes hero-fade-in {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes button-pulse {
    0% {
      box-shadow: 0px 0px 0px 0px rgba(37, 99, 235, 0.7);
    }
    50% {
      box-shadow: 0px 0px 0px 20px rgba(37, 99, 235, 0);
    }
    100% {
      box-shadow: 0px 0px 0px 20px rgba(37, 99, 235, 0);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  h1,
  h2,
  h3,
  h4,
  nav > a,
  #header-home-link {
    @apply text-zinc-800;
  }

  a,
  li > a {
    @apply text-blue-600 hover:text-blue-800;
  }

  mark {
    @apply bg-yellow-200 text-zinc-800 px-1;
  }

  .btn {
    @apply rounded-full;
  }

  .divider::before,
  .divider::after {
    @apply h-[1px]!;
  }

  .list-decimal > li {
    @apply mb-4;
  }

  body {
    background: var(--color-base-200);
  }
}
