@import "tailwindcss";

@theme {
  --shadow-3xl: 0 35px 60px -15px rgba(0, 0, 0, 0.1);

  --animate-hero-1: hero-1 700ms ease-in-out;
  --animate-hero-2: hero-2 700ms ease-in-out;
  --animate-hero-fade-in: hero-fade-in 750ms ease-in-out;
  --animate-fade-in: fade-in 750ms ease-in-out forwards;
  --animate-button-pulse: button-pulse 4000ms ease-in infinite;

  --background-image-topo-pattern: url("/images/topo-pattern.svg");
  --background-image-topo-pattern-dark: url("/images/topo-pattern-dark.svg");

  @keyframes hero-1 {
    0% {
      transform: translate(50px, 100px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  @keyframes hero-2 {
    0% {
      transform: translate(-50px, 100px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  @keyframes hero-fade-in {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes button-pulse {
    0% {
      box-shadow: 0px 0px 0px 0px rgba(37, 99, 235, 0.7);
    }
    50% {
      box-shadow: 0px 0px 0px 20px rgba(37, 99, 235, 0);
    }
    100% {
      box-shadow: 0px 0px 0px 20px rgba(37, 99, 235, 0);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  h1,
  h2,
  h3,
  h4,
  nav > a,
  #header-home-link {
    @apply text-zinc-800;
  }

  a,
  li > a {
    @apply text-blue-600 hover:text-blue-800;
  }

  mark {
    @apply bg-yellow-200 text-zinc-800 px-1;
  }

  .list-decimal > li {
    @apply mb-4;
  }

  body {
    background: #fafafa;
  }

  details > summary {
    list-style: none;
    cursor: pointer;
    position: relative;
    padding-right: 2rem;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }

  details > summary::after {
    content: "+";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1;
  }

  details[open] > summary::after {
    content: "\00d7";
  }
}
