---
import Container from "@components/Container.astro";
import Footer from "@components/Footer.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Page from "@layouts/Page.astro";
---

<Page
  title="Box Timer – How to support the developer"
  description="A guide that shows you how to support the developer of Box Timer - Workout Timer"
  url="https://boxtimer.app/support/how-to-support-the-developer/"
>
  <Container innerClass={"flex-col items-center"}>
    <div class="w-full sm:w-9/12">
      <Breadcrumbs title="How to support the developer">How to support the developer</Breadcrumbs>
      <h1 class="w-full text-4xl lg:text-5xl font-sans font-bold mb-8">
        How to support the developer
      </h1>
      <p class="pb-8">
        Box Timer is completely free with no ads and no in-app purchases. If you
        enjoy the app and want to show your support, you can buy the developer a
        coffee.
      </p>
      <p
        class="w-full text-2xl lg:text-2xl font-sans font-bold mb-4 text-zinc-800"
      >
        Steps
      </p>
      <ol class="list-decimal list-outside ml-6">
        <li><h2>Open the app</h2></li>
        <li>
          <h2>Go to the About tab</h2>
        </li>
        <li>
          <h2>Tap "Buy me a coffee"</h2>
        </li>
      </ol>
      <p class="mt-8">
        This will open the donation page in your browser. Thank you for
        your support!
      </p>
    </div>
  </Container>
  <Footer />
</Page>
