---
import Container from "@components/Container.astro";
import Footer from "@components/Footer.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Page from "@layouts/Page.astro";
---

<Page
  title="Box Timer – How to change language"
  description="A guide that shows you how to change the language in Box Timer - Workout Timer"
  url="https://boxtimer.app/support/how-to-change-language/"
>
  <Container innerClass={"flex-col items-center"}>
    <div class="w-full sm:w-9/12">
      <Breadcrumbs title="How to change language"
        >How to change language</Breadcrumbs
      >
      <h1 class="w-full text-4xl lg:text-5xl font-sans font-bold mb-8">
        How to change language
      </h1>
      <p class="pb-8">
        Box Timer supports 6 languages: English, German, Spanish, French,
        Polish, and Swedish.
      </p>
      <p
        class="w-full text-2xl lg:text-2xl font-sans font-bold mb-4 text-zinc-800"
      >
        Steps
      </p>
      <ol class="list-decimal list-outside ml-6">
        <li><h2>Open the app</h2></li>
        <li>
          <h2>Go to the About tab</h2>
        </li>
        <li>
          <h2>Tap the current language</h2>
          <i>By default it's set to English</i>
        </li>
        <li>
          <h2>Tap your desired language</h2>
          <i>The app will automatically change to the language you selected</i>
        </li>
      </ol>
    </div>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "HowTo",
        "name": "How to change language",
        "step": [
          { "@type": "HowToStep", "name": "Open the app" },
          { "@type": "HowToStep", "name": "Go to the About tab" },
          {
            "@type": "HowToStep",
            "name": "Tap the current language"
          },
          { "@type": "HowToStep", "name": "Tap your desired language" }
        ]
      }
    </script>
  </Container>
  <Footer />
</Page>
