---
import Container from "@components/Container.astro";
import Footer from "@components/Footer.astro";
import GetAppButton from "@components/GetAppButton.astro";
import Page from "@layouts/Page.astro";
---

<Page
  title="Box Timer – Support"
  description="Instructions and guides on how to use Box Timer - Workout Timer"
  url="https://boxtimer.app/support/"
>
  <Container innerClass={"flex-col items-center"}>
    <div class="w-full sm:w-9/12">
      <h1 class="w-full text-4xl lg:text-5xl font-sans font-bold mb-8">
        Support
      </h1>
      <p class="pb-8">
        Instructions and guides on how to use Box Timer - Workout Timer
      </p>

      <h2 class="w-full text-2xl lg:text-2xl font-sans font-bold mb-2">
        Getting started
      </h2>
      <ul>
        <li>
          <a href="/support/how-to-set-a-timer-that-counts-down/"
            >How to set a timer that counts down</a
          >
        </li>
        <li>
          <a href="/support/how-to-set-a-timer-that-counts-up/"
            >How to set a timer that counts up</a
          >
        </li>
        <li>
          <a
            href="/support/how-to-set-an-interval-timer-with-both-work-and-rest-time/"
            >How to set an interval timer with both work and rest time</a
          >
        </li>
        <li>
          <a href="/support/how-to-set-a-interval-timer-with-work-time-only/"
            >How to set a interval timer with work time only</a
          >
        </li>
      </ul>

      <h2 class="w-full text-2xl lg:text-2xl font-sans font-bold mb-2 mt-16">
        Timer settings
      </h2>
      <ul>
        <li>
          <a href="/support/how-to-enable-or-disable-the-countdown/"
            >How to enable or disable the countdown before a timer</a
          >
        </li>
        <li>
          <a href="/support/how-to-adjust-sound-effects-and-volume/"
            >How to adjust sound effects and volume</a
          >
        </li>
      </ul>

      <h2 class="w-full text-2xl lg:text-2xl font-sans font-bold mb-2 mt-16">
        Display
      </h2>
      <ul>
        <li>
          <a href="/support/how-to-display-the-large-timer/"
            >How to display the large timer</a
          >
        </li>
        <li>
          <a href="/support/how-to-control-the-timer-in-landscape-mode/"
            >How to control the timer in landscape mode</a
          >
        </li>
        <li>
          <a href="/support/how-to-change-the-display-theme/"
            >How to change the display theme</a
          >
        </li>
        <li>
          <a href="/support/how-to-keep-the-screen-on-during-a-workout/"
            >How to keep the screen on during a workout</a
          >
        </li>
      </ul>

      <h2 class="w-full text-2xl lg:text-2xl font-sans font-bold mb-2 mt-16">
        Workout history
      </h2>
      <ul>
        <li>
          <a href="/support/how-to-view-workout-history/"
            >How to view workout history</a
          >
        </li>
        <li>
          <a href="/support/how-to-pin-a-workout-in-history/"
            >How to pin a workout in history</a
          >
        </li>
        <li>
          <a href="/support/how-to-name-or-rename-a-workout/"
            >How to name or rename a workout</a
          >
        </li>
        <li>
          <a href="/support/how-to-reuse-settings-from-a-previous-workout/"
            >How to reuse settings from a previous workout</a
          >
        </li>
        <li>
          <a href="/support/how-to-delete-a-workout-from-history/"
            >How to delete a workout from history</a
          >
        </li>
      </ul>

      <h2 class="w-full text-2xl lg:text-2xl font-sans font-bold mb-2 mt-16">
        General
      </h2>
      <ul>
        <li>
          <a href="/support/how-to-change-language/">How to change language</a>
        </li>
        <li>
          <a href="/support/how-to-share-the-app-with-a-friend/"
            >How to share the app with a friend</a
          >
        </li>
        <li>
          <a href="/support/how-to-contact-support-or-send-feedback/"
            >How to contact support or send feedback</a
          >
        </li>
        <li>
          <a href="/support/how-to-support-the-developer/"
            >How to support the developer</a
          >
        </li>
      </ul>

      <p class="mt-16">
        Can't find a solution to your problem? <br />
        Send an e-mail to <a href="mailto:help@boxtimer.app"
          >help@boxtimer.app</a
        >
      </p>
    </div>
  </Container>
  <Footer />
</Page>
