---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import Container from "@components/Container.astro";
import Footer from "@components/Footer.astro";
import ProductHuntFeaturedLink from "@components/ProductHuntFeaturedLink.astro";
import BoxletesFeaturedLink from "@components/BoxletesFeaturedLink.astro";
import ReviewGrid from "@components/ReviewGrid.astro";
import GetAppButton from "@components/GetAppButton.astro";
---

<Layout title="Box Timer – Workout Timer For CrossFit">
  <Container
    outerClass="pt-0"
    innerClass="flex-col justify-between items-center"
  >
    <h2
      id="features"
      class="text-4xl text-center font-sans font-bold pt-32 pb-8"
    >
      Features
    </h2>
    <div
      class="flex flex-col md:flex-row flex-wrap justify-between gap-8 mt-16"
    >
      <div
        class="card w-full md:w-[48%] bg-base-100 border border-bg-base-100 shadow-3xl"
      >
        <div class="card-body">
          <img
            src="/images/fingerprint-solid.svg"
            alt="Fingerprint icon"
            class="my-4"
            style="width: 24px; height: 24px;"
            width="24"
            height="24"
          />
          <h3 class="card-title">No ads, no tracking</h3>
          <p>
            It's just a timer – this is not an app with annoying ads or privacy
            invasive tracking.
          </p>
        </div>
      </div>
      <div
        class="card w-full md:w-[48%] bg-base-100 border border-bg-base-100 shadow-3xl"
      >
        <div class="card-body">
          <img
            src="/images/stopwatch-20-solid.svg"
            alt="Fingerprint icon"
            class="my-4"
            style="width: 24px; height: 24px;"
            width="24"
            height="24"
          />
          <h3 class="card-title">Set your time cap, up or down</h3>
          <p>
            No matter if you like the timer counting up or counting down – the
            timer will beep when the time is up.
          </p>
        </div>
      </div>

      <div
        class="card w-full md:w-[48%] bg-base-100 border border-bg-base-100 shadow-3xl"
      >
        <div class="card-body">
          <img
            src="/images/hand-point-up-solid.svg"
            alt="Fingerprint icon"
            class="my-4"
            style="width: 24px; height: 24px;"
            width="24"
            height="24"
          />
          <h3 class="card-title">Tap to pause</h3>
          <p>
            Not all workouts turn out as planned. Tap the timer to pause and
            once more to start again.
          </p>
        </div>
      </div>
      <div
        class="card w-full md:w-[48%] bg-base-100 border border-bg-base-100 shadow-3xl"
      >
        <div class="card-body">
          <img
            src="/images/infinity-solid.svg"
            alt="Fingerprint icon"
            class="my-4"
            style="width: 24px; height: 24px;"
            width="24"
            height="24"
          />
          <h3 class="card-title">Endless variation with intervals</h3>
          <p>
            Crush any EMOM or Tabata workout with the custom interval timer.
          </p>
        </div>
      </div>
    </div>
  </Container>

  <Container
    outerClass="bg-topo-pattern pb-0"
    innerClass="flex-col lg:flex-row justify-between items-center"
  >
    <div class="flex relative py-8 w-[550px] h-[365px] box-content">
      <img
        src="/images/iphone-3.webp"
        alt="iPhone with Box Timer app"
        width="550"
        class="z-10 absolute"
      />
    </div>
    <div
      class="flex flex-col text-center lg:text-left items-center lg:items-start"
    >
      <h2 class="text-4xl lg:text-5xl !leading-tight
      font-sans font-bold">
        Stop arguing over <br />the timer on the wall
      </h2>
      <div
        class="text-2xl font-light font-sans text-zinc-500 mt-8 max-w-[400px]"
      >
        Get straight into your workout by using your phone as a timer instead.
      </div>
    </div>
  </Container>

  <Container
    outerClass="pt-0"
    innerClass="flex-col justify-between items-center"
  >
    <h2
      id="reviews"
      class="text-4xl lg:text-5xl text-center font-sans font-bold pt-32 pb-8"
    >
      Trusted by thousands of athletes
    </h2>
    <ReviewGrid />
    <div class="flex justify-center items-center mt-16">
      <a
        href="https://apps.apple.com/us/app/the-box-timer/id1547518531?see-all=reviews"
        target="_blank"
        rel="noopener noreferrer"
        title="The Box Timer reviews on the App Store"
        class="btn btn-outline rounded-full px-6"
      >
        READ ALL REVEIWS
      </a>
    </div>
  </Container>

  <Container outerClass="" innerClass="flex-col justify-center items-center">
    <div class="flex flex-col md:flex-row gap-12 items-center my-8">
      <div>Featured on</div>
      <ProductHuntFeaturedLink />
      <BoxletesFeaturedLink />
    </div>
  </Container>

  <Container innerClass="flex-col items-start">
    <h2
      class="w-full text-4xl lg:text-5xl text-center font-sans font-bold mb-24"
    >
      Frequently asked questions
    </h2>
    <div class="w-full flex flex-col md:flex-row items-start gap-x-12">
      <div class="w-full md:w-1/2 flex flex-col justify-between mb-12">
        <details
          class="collapse collapse-plus w-full rounded-none m-0 pt-2 pb-4 border-b-[1px] border-zinc-300"
        >
          <summary class="collapse-title">
            <h3 class="text-2xl font-sans font-bold">
              Where can I get the app?
            </h3>
          </summary>
          <div class="collapse-content mb-4">
            <p class="mb-2">
              You can <a
                href="https://apps.apple.com/us/app/the-box-timer/id1547518531"
                onclick="window.TelemetryDeck.sendSignal({type:'ClickGetAppButton'});"
                target="_blank"
                rel="noopener noreferrer"
                title="The Box Timer on the App Store"
                >get The Box Timer free on the Apple App Store</a
              > for iPhone.
            </p><p>
              I plan to release the app on the Google Play Store in the future.
            </p>
          </div>
        </details>

        <details
          class="collapse collapse-plus w-full rounded-none m-0 pt-2 pb-4 border-b-[1px] border-zinc-300"
        >
          <summary class="collapse-title">
            <h3 class="text-2xl font-sans font-bold">
              Where can I use the app?
            </h3>
          </summary>
          <div class="collapse-content">
            <p>
              The Box Timer is perfect for workouts at your home gym or garage
              gym. However the app is also great for workouts outside or at a
              regular gym.
            </p>
          </div>
        </details>

        <details
          class="collapse collapse-plus w-full rounded-none m-0 pt-2 pb-4 border-b-[1px] border-zinc-300"
        >
          <summary class="collapse-title">
            <h3 class="text-2xl font-sans font-bold">What is a WOD?</h3>
          </summary>
          <div class="collapse-content">
            <p class="pb-8">
              WOD stands for "Workout of the day" and is a word often used in
              CrossFit gyms(or boxes as they also are called).
            </p><p class="pb-8">
              Most gyms have a programming where they have different workouts
              each day, that where <i>workout of the day</i> comes from.
            </p><p class="pb-8">
              For most athletes a WOD is a single workout regardless if it's the
              actual workout of the day for the gym. For example Fran, Cindy and
              Murph are popular WODs.
            </p>
            <p>
              There's a few different formats and ways to measure score of a
              WOD. These are almost always a combination of time, rounds or
              repitions. That's why a good timer is so useful when doing these
              types of workouts.
            </p>
          </div>
        </details>
      </div>
      <div class="w-full md:w-1/2 flex flex-col justify-between mb-12">
        <details
          class="collapse collapse-plus w-full rounded-none m-0 pt-2 pb-4 border-b-[1px] border-zinc-300"
        >
          <summary class="collapse-title">
            <h3 class="text-2xl font-sans font-bold">What is AMRAP?</h3>
          </summary>
          <div class="collapse-content">
            <p>
              <b>AMRAP</b> is an abbreviation for as many rounds(or repitions) as
              possible. The workout always have a time cap and the score is the rounds(or
              repititons) you completed during that time.
            </p>
          </div>
        </details>
        <details
          class="collapse collapse-plus w-full rounded-none m-0 pt-2 pb-4 border-b-[1px] border-zinc-300"
        >
          <summary class="collapse-title">
            <h3 class="text-2xl font-sans font-bold">What is EMOM?</h3>
          </summary>
          <div class="collapse-content">
            <p>
              <b>EMOM</b> stands for every minute on the minute. It means that each
              minute you must start the movement and complete the prescribed repitions.
            </p>
          </div>
        </details>
        <details
          class="collapse collapse-plus w-full rounded-none m-0 pt-2 pb-4 border-b-[1px] border-zinc-300"
        >
          <summary class="collapse-title">
            <h3 class="text-2xl font-sans font-bold">What is Tabata?</h3>
          </summary>
          <div class="collapse-content">
            <p>
              <b>Tabata</b> is a style of workout where you have a fixed time for
              work and rest. Usually that is 20 seconds of work followed by 10 seconds
              of rest, repeated for 4 minutes.
            </p>
          </div>
        </details>

        <details
          class="collapse collapse-plus w-full rounded-none m-0 pt-2 pb-4 border-b-[1px] border-zinc-300"
        >
          <summary class="collapse-title">
            <h3 class="text-2xl font-sans font-bold">What is For Time?</h3>
          </summary>
          <div class="collapse-content">
            <p>
              <b>For time</b> is the most basic workout format. You just have to
              complete the workout and however long it takes is the score.
            </p>
          </div>
        </details>
      </div>
    </div>
  </Container>
  <Container innerClass="flex-col justify-center items-center">
    <h2
      class="w-full text-4xl lg:text-5xl text-center font-sans font-bold mb-24"
    >
      The workout start in 3... 2... 1...
    </h2>
    <GetAppButton />
  </Container>
</Layout>
<Footer />
