---
import Card from "@components/Card.astro";
import Container from "@components/Container.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Box Timer – CrossFit Workout Timer">
  <Container
    outerClass="bg-zinc-50 dark:bg-zinc-900"
    innerClass="flex-col justify-between items-center pt-32"
  >
    <div>
      <h2
        class="text-6xl text-center font-sans font-bold text-zinc-900 dark:text-zinc-50"
      >
        Trusted by thousands of athletes
      </h2>
    </div>
    <div class="flex flex-col md:flex-row justify-center items-center mt-24">
      <div class="flex flex-col justify-center items-center mr-0 md:mr-16">
        <span
          class="text-6xl font-extrabold font-sans text-zinc-900 dark:text-zinc-50 mb-2"
          >4.8</span
        >
        <span class="text-xl font-extrabold font-sans text-zinc-500"
          >OUT OF 5</span
        >
      </div>
      <div class="flex justify-between mt-8 md:mt-0">
        <img
          src="/images/star-solid.svg"
          alt="Rating Star"
          width="72"
          height="72"
          class="mr-4 w-[56px] md:w-[72px]"
        />
        <img
          src="/images/star-solid.svg"
          alt="Rating Star"
          width="72"
          height="72"
          class="mr-4 w-[56px] md:w-[72px]"
        />
        <img
          src="/images/star-solid.svg"
          alt="Rating Star"
          width="72"
          height="72"
          class="mr-4 w-[56px] md:w-[72px]"
        />
        <img
          src="/images/star-solid.svg"
          alt="Rating Star"
          width="72"
          height="72"
          class="mr-4 w-[56px] md:w-[72px]"
        />
        <img
          src="/images/star-solid.svg"
          alt="Rating Star"
          width="72"
          height="72"
          class="mr-4 w-[56px] md:w-[72px]"
        />
      </div>
    </div>
  </Container>
  <Container innerClass="flex-col justify-between items-center pb-32">
    <div class="flex flex-col lg:flex-row w-full">
      <Card outerClass="bg-zinc-100 dark:bg-zinc-800">
        <p class="italic text-zinc-900 dark:text-zinc-50">
          So far the best workout timer I've ever used, real simple set up with
          its default workouts and easy to modify to your liking. I've
          recommended it to all my co-workers and the love it.
        </p>
        <span class="text-sm mt-4 uppercase">— tooEasy!, United States</span>
      </Card>
      <Card outerClass="bg-zinc-100 dark:bg-zinc-800">
        <p class="italic text-zinc-900 dark:text-zinc-50">
          Easy to use. Figured it out in seconds! Thank you!
        </p>
        <span class="text-sm mt-4 uppercase">— sraebgf, United States</span>
      </Card>
    </div>
    <div class="flex flex-col lg:flex-row w-full">
      <Card outerClass="bg-zinc-100 dark:bg-zinc-800">
        <p class="italic text-zinc-900 dark:text-zinc-50">
          Just what you need. Brilliant simplicity from humble ingenuity. Hats
          off to the developer.
        </p>
        <span class="text-sm mt-4 uppercase">— Ja pirate, United States</span>
      </Card>
      <Card outerClass="bg-zinc-100 dark:bg-zinc-800">
        <p class="italic text-zinc-900 dark:text-zinc-50">
          This app is a must have for CrossFit workouts. Ideal for emoms, amraps
          and for time workouts. I even use it for strength work like squats by
          programming beeps for 45 seconds work and 2 minutes rest. And it’s
          free! I mean come on. 👍🏼
        </p>
        <span class="text-sm mt-4 uppercase">— DODGEMS, United Kingdom</span>
      </Card>
    </div>
  </Container>
  <Container
    outerClass="bg-zinc-50 dark:bg-zinc-900 bg-topo-pattern dark:bg-topo-pattern-dark"
    innerClass="flex-col lg:flex-row justify-between items-center"
  >
    <div class="flex relative py-8 w-[550px] h-[365px] box-content">
      <img
        src="/images/iphone-3.webp"
        alt="iPhone with Box Timer app"
        width="550"
        class="z-10 absolute"
      />
    </div>
    <div class="flex flex-col text-center lg:text-left">
      <h3
        class="text-4xl sm:text-8xl font-sans font-bold text-zinc-900 dark:text-zinc-50"
      >
        Flip It
      </h3>
      <div
        class="text-2xl sm:text-3xl font-light font-sans mt-10 text-zinc-500"
      >
        Put your phone in landscape<br />
        mode to make the timer larger
      </div>
    </div>
  </Container>
  <Container outerClass="bg-zinc-100 dark:bg-zinc-800" innerClass="flex-col">
    <div class="flex flex-col md:flex-row w-full">
      <Card>
        <div class="flex mb-8">
          <img
            src="/images/fingerprint-solid.svg"
            alt="Fingerprint icon"
            style="width: 56px; height: 56px;"
            width="56"
            height="56"
          />
        </div>
        <h3
          class="text-3xl font-sans font-bold text-zinc-900 dark:text-zinc-50"
        >
          No ads, no tracking
        </h3>
        <p class="mt-4">
          It's just a timer – this is not an app with annoying ads or privacy
          invasive tracking.
        </p>
      </Card>
      <Card>
        <img
          src="/images/stopwatch-20-solid.svg"
          alt="Stopwatch icon"
          style="width: 56px; height: 56px;"
          width="56"
          height="56"
          class="mb-8"
        />
        <h3
          class="text-3xl font-sans font-bold text-zinc-900 dark:text-zinc-50"
        >
          Set your time cap
        </h3>
        <p class="mt-4">
          No matter if you like the timer counting up or counting down, the
          timer will beep when the time is up.
        </p>
      </Card>
    </div>
    <div class="flex flex-col md:flex-row w-full">
      <Card>
        <img
          src="/images/hand-point-up-solid.svg"
          alt="Hand icon"
          style="width: 56px; height: 56px;"
          width="56"
          height="56"
          class="mb-8"
        />
        <h3
          class="text-3xl font-sans font-bold text-zinc-900 dark:text-zinc-50"
        >
          Tap to pause
        </h3>
        <p class="mt-4">
          Not all workouts turn out as planned. Tap the timer to pause and once
          more to start again.
        </p>
      </Card>
      <Card>
        <div class="flex mb-8">
          <img
            src="/images/infinity-solid.svg"
            alt="Infinity icon"
            style="width: 56px; height: 56px;"
            width="56"
            height="56"
          />
        </div>
        <h3
          class="text-3xl font-sans font-bold text-zinc-900 dark:text-zinc-50"
        >
          Endless variation
        </h3>
        <p class="mt-4">
          Crush any EMOM or Tabata workout with the custom interval timer!
        </p>
      </Card>
    </div>
  </Container>
  <Container innerClass="flex-col items-start">
    <h3
      class="text-4xl sm:text-6xl text-center font-sans font-bold text-zinc-900 dark:text-zinc-50 mb-24"
    >
      Frequently asked questions
    </h3>
    <div class="flex flex-col lg:flex-row mb-12">
      <div class="w-full lg:w-half lg:pr-4 mb-12 lg:mb-0">
        <h4
          class="text-2xl font-sans font-bold text-zinc-900 dark:text-zinc-50 mb-4"
        >
          Where can I get the app?
        </h4>
        <p class="mb-2">
          You can get The Box Timer free on the Apple App Store for iPhone.
        </p><p class="mb-12">
          I plan to release the app on the Google Play Store in the future.
        </p>
        <h4
          class="text-2xl font-sans font-bold text-zinc-900 dark:text-zinc-50 mb-4"
        >
          Where can I use the app?
        </h4>
        <p class="mb-12">
          The Box Timer is perfect for workouts at your home gym or garage gym.
          However the app is also great for workouts outside or at a regular
          gym.
        </p>
        <h4
          class="text-2xl font-sans font-bold text-zinc-900 dark:text-zinc-50 mb-4"
        >
          What is a WOD?
        </h4>
        <p class="mb-2">
          WOD stands for "Workout of the day" and is a word often used in
          CrossFit gyms(or boxes as they also are called).
        </p><p class="mb-2">
          Most gyms have a programming where they have different workouts each
          day, that where <i>workout of the day</i> comes from.
        </p><p>
          For most athletes a WOD is a single workout regardless if it's the
          actual workout of the day for the gym. For example Fran, Cindy and
          Murph are popular WODs.
        </p>
      </div>
      <div class="w-full lg:w-half lg:pl-4">
        <div class="w-full lg:w-half lg:pl-4">
          <h4
            class="text-2xl font-sans font-bold text-zinc-900 dark:text-zinc-50 mb-4"
          >
            What is AMRAP, EMOM and Tabata?
          </h4>
          <p class="mb-2">
            There's a few different formats and ways to measure score of a WOD.
            These are almost always a combination of time, rounds or repitions.
            Because of that you can understand why a good timer is so useful
            when doing these types of workouts.
          </p>
          <p class="mb-2">
            AMRAP is an abbreviation for as many rounds(or repitions) as
            possible. THe workout always have a time cap and the score is the
            rounds(or repititons) you completed during that time.
          </p>
          <p class="mb-2">
            EMOM stands for every minute on the minute. It means that each
            minute you must start the movement and complete the prescribed
            repitions.
          </p>
          <p class="mb-2">
            Tabata is a style of workout where you have a fixed time for work
            and rest. Usually that is 20 seconds of work followed by 10 seconds
            of rest, repeated for 4 minutes.
          </p>
          <p class="mb-2">
            For time is the most basic workout format. You just have to complete
            the workout and however long it takes is the score.
          </p>
        </div>
      </div>
    </div>
  </Container>
  <Footer />
</Layout>
