<a
  href="https://www.boxletes.com/best-timer-apps-for-crossfit/?ref=boxtimer.app"
  target="_blank"
  rel="noopener noreferrer"
  title="Box Timer - Workout Timer on Boxletes"
  class="font-semibold text-zinc-800 hover:text-zinc-800 opacity-80 hover:opacity-100 cursor-pointer"
  >BOXLETES
</a>
