---
export interface Props {
  outerClass?: string;
  id?: string;
}

const { outerClass, id } = Astro.props;
---

<a
  href="https://apps.apple.com/us/app/the-box-timer/id1547518531"
  onclick="window.fathom.trackGoal('GTWFCG7B', 0);"
  target="_blank"
  rel="noopener noreferrer"
  title="The Box Timer on the App Store"
  class={`inline-flex justify-between items-center min-w-[145px] no-underline text-base bg-blue-600 hover:bg-blue-800 text-slate-100 rounded-full px-6 py-3 ${outerClass}`}
  id={id}
>
  <img
    src="/images/apple-logo-white.svg"
    alt="Box Timer on the App Store"
    style="width: 15px; height: 18px;"
    width="15"
    height="18"
  />
  <span class="ml-4 font-sans">GET APP</span>
</a>
