---
export interface Props {
  outerClass?: string;
  id?: string;
}

const { outerClass, id } = Astro.props;
---

<a
  href="https://apps.apple.com/us/app/the-box-timer/id1547518531"
  onclick="window.TelemetryDeck.sendSignal({type:'ClickGetAppButton'});"
  target="_blank"
  rel="noopener noreferrer"
  title="The Box Timer on the App Store"
  class={`inline-flex items-center justify-center gap-2 px-4 py-3 bg-blue-600 text-white font-semibold text-sm cursor-pointer rounded-full transition-colors hover:bg-blue-700 animate-button-pulse ${outerClass}`}
  id={id}
>
  <img
    src="/images/apple-logo-white.svg"
    alt="Box Timer on the App Store"
    style="width: 15px; height: 18px; margin-left: 8px; margin-top:-3px;"
    width="15"
    height="18"
  />
  <span class="mx-2 font-sans text-white">GET APP</span>
</a>
