---
import Header from "./Header.astro";
---

<Header>
  <nav
    id="header-navigation"
    class="hidden md:flex gap-x-8 mr-[-140px] h-12 items-center transition-all duration-500 z-50"
  >
    <a href="#features" title="Box Timer - Workout Timer" class="p-4"
      >Features</a
    >
    <a href="#reviews" title="Box Timer - Workout Timer" class="p-4">Reviews</a>
  </nav>
</Header>
