---
import Container from "@components/Container.astro";
import GetAppButton from "@components/GetAppButton.astro";
---

<Container innerClass="px-0">
  <div
    class="flex flex-col lg:flex-row justify-between items-center overflow-hidden md:overflow-visible"
  >
    <div class="text-center lg:text-left">
      <h2
        class="text-7xl sm:text-8xl font-sans font-bold text-zinc-900 dark:text-zinc-50 animate-hero-fade-in"
      >
        Workout<br />Anywhere
      </h2>
      <h3
        class="text-2xl sm:text-3xl font-light font-sans mt-10 text-zinc-500 animate-hero-fade-in"
      >
        Take your gym timer with you <br />wherever you go
      </h3>
      <GetAppButton
        id="get-app-button-hero"
        outerClass={"animate-hero-fade-in mt-12 "}
      />
    </div>
    <div
      class="flex relative w-[575px] h-[628px] mx-auto mt-16 lg:mt-0 ml-[-100px] sm:ml-0"
    >
      <img
        src="/images/iphone-1.webp"
        width="350"
        alt="iPhone with Box Timer app"
        class="z-10 absolute animate-hero-1"
      />
      <img
        src="/images/iphone-2.webp"
        width="350"
        alt="iPhone with Box Timer app"
        class="z-0 absolute top-[100px] left-[225px] animate-hero-2"
      />
    </div>
  </div>
</Container>
