<div class="rating mr-4">
  <img
    src="/images/star-solid.svg"
    alt="Rating Star"
    width="20"
    height="20"
    class="mr-1 w-[20px]"
  />
  <img
    src="/images/star-solid.svg"
    alt="Rating Star"
    width="20"
    height="20"
    class="mr-1 w-[20px]"
  />
  <img
    src="/images/star-solid.svg"
    alt="Rating Star"
    width="20"
    height="20"
    class="mr-1 w-[20px]"
  />
  <img
    src="/images/star-solid.svg"
    alt="Rating Star"
    width="20"
    height="20"
    class="mr-1 w-[20px]"
  />
  <img
    src="/images/star-solid.svg"
    alt="Rating Star"
    width="20"
    height="20"
    class="mr-1 w-[20px]"
  />
</div>
