---
import RatingStars from "@components/RatingStars.astro";
import ReviewCard from "@components/ReviewCard.astro";
---

<div
  class="flex flex-col justify-between md:grid md:grid-cols-3 md:grid-flow-dense gap-4 mt-16"
>
  <ReviewCard>
    <p>
      <mark>Simple, to the point and does exactly what's promised,</mark> no ads,
      no subscription requests, just straight value.
    </p>
    <div>
      <hr class="border-gray-100 my-6" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">fritzism</p>
      <div class="text-sm flex">
        United States <span class="px-2 block">路</span> June 7, 2025
      </div>
    </div>
  </ReviewCard>
  <ReviewCard outerClass="col-span-2">
    <p>
      Simple app that <mark
        >looks like the clock on the wall at my crossfit box.</mark
      > No bloat, no ads. Helps me with workouts. Trustworthy app. Thankful to the
      developer for sharing his work for free with the community.
    </p>
    <div>
      <hr class="border-gray-100 my-6" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">DavidKuda</p>
      <div class="text-sm flex">
        Switzerland <span class="px-2 block">路</span> December 17, 2025
      </div>
    </div>
  </ReviewCard>
  <ReviewCard outerClass="col-span-2">
    <p>
      <mark>This app is a must have for CrossFit workouts.</mark> Ideal for emoms,
      amraps and for time workouts. I even use it for strength work like squats by
      programming beeps for 45 seconds work and 2 minutes rest. And it's free! I
      mean come on. 
    </p>
    <div>
      <hr class="border-gray-100 my-6" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">Dodgems</p>
      <div class="text-sm flex">
        United Kingdom <span class="px-2 block">路</span> April 11, 2021
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>
      Does exactly what I want it to - keep time. <mark
        >No ads, no annoying AI workout suggestions, nothing to buy.</mark
      > It does what it says on the tin. Its perfect.
    </p>
    <div>
      <hr class="border-gray-100 my-6" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">this_defeats_the_purpose</p>
      <div class="text-sm flex">
        United States <span class="px-2 block">路</span> October 31, 2024
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>
      <mark>No fluff. No ads. Works great.</mark> What more can you ask for? Thank
      you developer!
    </p>
    <div>
      <hr class="border-gray-100 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">Jezz-20</p>
      <div class="text-sm flex">
        United States <span class="px-2 block">路</span> July 24, 2025
      </div>
    </div>
  </ReviewCard>
  <ReviewCard outerClass="col-span-2">
    <p>
      <mark>Get this app, it's the best timer.</mark> So simple and no adverts. It
      feels like daylight robbery the fact it's free!! Download it, leave a review,
      credit this guy who just wanted to make something better and he did! 锔
    </p>
    <div>
      <hr class="border-gray-100 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">DidizillaL</p>
      <div class="text-sm flex">
        United States <span class="px-2 block">路</span> February 2, 2023
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>
      <mark>Best exercise timer I could find on the App Store.</mark> Everything
      else was overcooked.
    </p>
    <div>
      <hr class="border-gray-100 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">TheFish2024</p>
      <div class="text-sm flex">
        New Zealand <span class="px-2 block">路</span> July 5, 2024
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>
      Its NOT very often I write reviews, but I am happy with this timer, <mark
        >most importantly its free.</mark
      > Most apps will charge you, this one doesnt. Thank you to the developers
      ス
    </p>
    <div>
      <hr class="border-gray-100 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">Abriltee</p>
      <div class="text-sm flex">
        United States <span class="px-2 block">路</span> May 18, 2025
      </div>
    </div>
  </ReviewCard>
  <ReviewCard outerClass="col-span-2">
    <p>
      Love the developer who responded to my comment about the problem, and was
      all over it and had it fixed in no time!! Thank you so much for the
      update!! <mark>You are a LEGEND!!</mark> わ
    </p>
    <div>
      <hr class="border-gray-100 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">Door In The Woods</p>
      <div class="text-sm flex">
        Canada <span class="px-2 block">路</span> November 21, 2023
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>
      No frills or foolishness. Timer goes up, timer goes down, and EMOMs. What
      more do you need? <mark>And no ads. Perfect!</mark>
    </p>
    <div>
      <hr class="border-gray-100 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">Tmaherwa</p>
      <div class="text-sm flex">
        Canada <span class="px-2 block">路</span> November 16, 2022
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>Perfect timer. Free use. Can't thank the dev enough.</p>
    <div>
      <hr class="border-gray-100 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">Brandonmaster</p>
      <div class="text-sm flex">
        United Kingdom <span class="px-2 block">路</span> April 9, 2024
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>
      Simple to use. Easy to edit. <mark
        >No worries no frills. Now get to work</mark
      >
    </p>
    <div>
      <hr class="border-gray-100 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">Dad Hands over</p>
      <div class="text-sm flex">
        United States <span class="px-2 block">路</span> November 10, 2025
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>
      Great little app <mark>no ads or pop ups urging you to subscribe.</mark>
      Buy the developer a coffee or two!
    </p>
    <div>
      <hr class="border-gray-100 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">A Pie Tri</p>
      <div class="text-sm flex">
        Italy <span class="px-2 block">路</span> August 6, 2025
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>
      <mark>Best of its class.</mark> Awesome read out, no bloatware or ads. Please
      support this developer.
    </p>
    <div>
      <hr class="border-gray-100 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">Reviewer 1999</p>
      <div class="text-sm flex">
        United States <span class="px-2 block">路</span> August 1, 2023
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>
      <mark>I cant believe this is free and no adds.</mark> Its exactly what it
      says it is, a timer that functions with no features hidden behind a paywall.
    </p>
    <div>
      <hr class="border-gray-100 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">OlCregg</p>
      <div class="text-sm flex">
        United States <span class="px-2 block">路</span> January 2, 2025
      </div>
    </div>
  </ReviewCard>
  <ReviewCard outerClass="col-span-2">
    <p>
      All that you need. Simple timer with <mark
        >no ads or weird tracking stuff</mark
      >. Thank god theres a developer that just makes a simple thing like this
      without some weird subscription or anything
    </p>
    <div>
      <hr class="border-gray-100 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">Muaykaiju</p>
      <div class="text-sm flex">
        United States <span class="px-2 block">路</span> April 6, 2025
      </div>
    </div>
  </ReviewCard>
</div>
