---
export interface Props {
  outerClass?: string;
}

const { outerClass } = Astro.props;
---

<div
  class={`card w-full bg-base-100 border border-bg-base-100 shadow-3xl ${outerClass}`}
>
  <div class="card-body justify-between">
    <slot />
  </div>
</div>
