---
import RatingStars from "@components/RatingStars.astro";
import ReviewCard from "@components/ReviewCard.astro";
---

<div
  class="flex flex-col justify-between md:grid md:grid-cols-3 md:grid-flow-dense gap-4 mt-16"
>
  <ReviewCard>
    <p>
      This is no ads or distractions, just a timer to get your workout in. Like
      a mini box timer at the gym!
    </p>
    <div>
      <hr class="border-gray-200 my-6" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">Doc Schrock</p>
      <div class="text-sm flex">
        United States <span class="px-2 block">路</span> September 28, 2022
      </div>
    </div>
  </ReviewCard>
  <ReviewCard outerClass="col-span-2">
    <p>
      <mark>This app is a must have for CrossFit workouts.</mark> Ideal for emoms,
      amraps and for time workouts. I even use it for strength work like squats by
      programming beeps for 45 seconds work and 2 minutes rest. And its free! I
      mean come on. 
    </p>
    <div>
      <hr class="border-gray-200 my-6" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">Dodgems</p>
      <div class="text-sm flex">
        United Kingdom <span class="px-2 block">路</span> April 11, 2021
      </div>
    </div>
  </ReviewCard>
  <ReviewCard outerClass="col-span-2">
    <p>
      So far the best workout timer I've ever used, real simple set up with its
      default workouts and easy to modify to your liking. <mark
        >I've recommended it to all my co-workers and the love it.</mark
      >
    </p>
    <div>
      <hr class="border-gray-200 my-6" />
      <RatingStars />
      <div class="text-sm font-bold mt-4">tooEasy!</div>
      <div class="text-sm flex">
        United States <span class="px-2 block">路</span> June 25, 2022
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>
      Used to use the stopwatch or timer functions on my phone but I've switch
      to this app and it works great.
    </p>
    <div>
      <hr class="border-gray-200 my-6" />
      <RatingStars />
      <div class="text-sm font-bold mt-4">RocStar811</div>
      <div class="text-sm flex">
        United States <span class="px-2 block">路</span> October 28, 2022
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>
      Just what you need. Brilliant simplicity from humble ingenuity. Hats off
      to the developer.
    </p>
    <div>
      <hr class="border-gray-200 my-4" />
      <RatingStars />
      <div class="text-sm font-bold mt-4">Ja pirate</div>
      <div class="text-sm flex">
        United States <span class="px-2 block">路</span> May 1, 2022
      </div>
    </div>
  </ReviewCard>
  <ReviewCard outerClass="col-span-2">
    <p>
      I was looking for a good timer to do my workouts with that would allow for
      the same types of intervals that I did with Crossfit, but the timer on my
      phone just wasnt sufficient. <mark
        >Came across this app, and its exactly like what I used to use.</mark
      > Thanks developers for creating this app for guys like me! Also, love the
      NO ADS!!
    </p>
    <div>
      <hr class="border-gray-200 my-4" />
      <RatingStars />
      <div class="text-sm font-bold mt-4">Mortonstoe</div>
      <div class="text-sm flex">
        United States <span class="px-2 block">路</span> March 23, 2023
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>
      If you need an easy to use emom timer, this is it. <mark
        >No gimmicks. Easy to use.</mark
      >
    </p>
    <div>
      <hr class="border-gray-200 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">Co jes</p>
      <div class="text-sm flex">
        United States <span class="px-2 block">路</span> March 15, 2024
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>Could not be more simple! Thx for making it</p>
    <div>
      <hr class="border-gray-200 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">EGunn32</p>
      <div class="text-sm flex">
        United States <span class="px-2 block">路</span> October 10, 2023
      </div>
    </div>
  </ReviewCard>
  <ReviewCard outerClass="col-span-2">
    <p>
      <mark>Get this app, its the best timer.</mark> So simple and no adverts. It
      feels like daylight robbery the fact its free!! Download it, leave a review,
      credit this guy who just wanted to make something better and he did! 锔
    </p>
    <div>
      <hr class="border-gray-200 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">DidizillaL</p>
      <div class="text-sm flex">
        United States <span class="px-2 block">路</span> February 2, 2023
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>
      No frills or foolishness. Timer goes up, timer goes down, and EMOMs. What
      more do you need? <mark>And no ads. Perfect!</mark>
    </p>
    <div>
      <hr class="border-gray-200 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">Tmaherwa</p>
      <div class="text-sm flex">
        Canada <span class="px-2 block">路</span> November 16, 2022
      </div>
    </div>
  </ReviewCard>
  <ReviewCard outerClass="col-span-2">
    <p>
      Love the developer who responded to my comment about the problem, and was
      all over it and had it fixed in no time!! Thank you so much for the
      update!! You are a LEGEND!! わ
    </p>
    <div>
      <hr class="border-gray-200 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">Door In The Woods</p>
      <div class="text-sm flex">
        Canada <span class="px-2 block">路</span> November 21, 2023
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>Perfect timer. Free use. Cant thank the dev enough.</p>
    <div>
      <hr class="border-gray-200 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">Brandonmaster</p>
      <div class="text-sm flex">
        United Kingdom <span class="px-2 block">路</span> April 9, 2024
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>Everything you need in a timer and nothing you dont. Well done sir</p>
    <div>
      <hr class="border-gray-200 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">Deadbugtilfailure</p>
      <div class="text-sm flex">
        United States <span class="px-2 block">路</span> August 24, 2023
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>Easy to use. <mark>Figured it out in seconds!</mark> Thank you!</p>
    <div>
      <hr class="border-gray-200 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">sraebgf</p>
      <div class="text-sm flex">
        United States <span class="px-2 block">路</span> February 2, 2023
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>
      Such a great app. I use it for Kettlebell Armour Buildinb Complex EMOM
      (every 59 seconds actually )
    </p>
    <div>
      <hr class="border-gray-200 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">Stevo 46</p>
      <div class="text-sm flex">
        United Kingdom <span class="px-2 block">路</span> September 27, 2023
      </div>
    </div>
  </ReviewCard>
  <ReviewCard>
    <p>What I was looking for. Great for home workouts. Clear display.</p>
    <div>
      <hr class="border-gray-200 my-4" />
      <RatingStars />
      <p class="text-sm font-bold mt-4">Spiggy36</p>
      <div class="text-sm flex">
        United Kingdom <span class="px-2 block">路</span> February 19, 2023
      </div>
    </div>
  </ReviewCard>
</div>
