---
export interface Props {
  outerClass?: string;
}

const { outerClass } = Astro.props;
---

<div
  class={`card w-full card-border bg-base-100 border-base-300 ${outerClass}`}
>
  <div class="card-body justify-between text-xl">
    <slot />
  </div>
</div>
